
/*Main CSS Rules*/
body {
    user-select: none;
    background-color: #10102c;
    font-size: 1em;
    margin: 0px auto;
    text-align: center;
    color: #f3f3f3;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    user-select: none;
}
/*Main CSS Rules Ends*/


#mainWrapper {
    height: 100%;
}

.titleWrapper {
    border: 0.1em solid #bdc7d8;
    background-color: #991044;
}

.highScoreWrapper {
    position: relative;
    right: 36vw;
    bottom: 2vh;
    border: 0.1em solid #bdc7d8;
    margin: 0.1em 0.1em 0.1em 2em;
    padding: 0.4em;
    display: inline-block;
    font-size: 0.8rem;
    text-align: justify;
}

.userInfo {
    display: inline-block;
    margin: 0px;
    padding: 0.2em;
}

.wrapperBtn {
    position: relative;
    bottom: 12px;
    height: 20px;
}

.wrapperBtn:hover .btns {
    display: block;
}

.mainBtn {
    background-color: #0CBDCC;
    color: black;
    cursor: pointer;
    width: 270px;
    height: 25px;
    transition: background-color 0.3s;
}

.mainBtn:hover {
    background-color: #4F9399;
}

.btns {
    display: none;
    position: relative;
    margin: 0 auto;
    background-color: #e51865;
    width: 271px;
}

.options {
    background-color: #f3f3f3;

}

.btns a {
    color: black;
    text-decoration: none;
    display: block;
    border: 0.5px solid #650a2d;
    padding: 5px;
    transition: background-color 0.4s;
}

#english, #español {
    display: inline-block;
}

#english:hover, #español:hover {
    background-color: #7bbbbb;
}

.btns a:hover {
    background-color: #FF6875;
}

.mediaBtns {
    position: relative;
    margin: 0.1em auto;
    top: 2.8em;
    text-align: center;
}

.social {
    margin: 0.1em 0.4em 0 0.4em;
    font-size: 2em;
    text-decoration: none;
    color: #e51865;
    transition: color 0.4s;
}

.social:hover {
    color: #f3f3f3;
}

.social:active {
    color: #650a2d;
}


.levelWrapper {
    margin: 0 auto;
    padding: 0;
}

.timeInstructions {
    padding: 0 0 2px 0;
}

#seconds, #time, #score {
    color: aqua;
    font-size: 1.2em;
}

#currentWord {
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 0.2em;
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
}

.boxInput {
    width: 25vw;
    height: 4vh;
    border: 0.2em solid #e51865;
}

.wrapperScore h3{
    display: inline;
    padding: 0.5vh 0 0 0.5vh;
    font-size: 1em;
}

#wrapperInstructions {
    height: auto;
    width: 30vw;
    margin: 20px auto 10px;
    border: 0.1em solid #e51865;
    background-color: #bdc7d8;
}

#wrapperInstructions h5, #wrapperInstructions p{
    color:	#10102c;
    text-align: center;
    font-size: 0.9rem;
}

#wrapperReward {
    display: none;
    height: auto;
    width: 30vw;
    margin: 20px auto 10px;
    border: 0.1em solid #e51865;
    background-color: #bdc7d8;
}

#paragraphForTheReward{
    color:	#10102c;
    text-align: center;
    font-size: 0.9rem;
}

#wrapperPolicy {
    display: none;
    height: auto;
    width: 30vw;
    margin: 20px auto 10px;
    border: 0.1em solid #e51865;
    background-color: #bdc7d8;
}


#paragraphForThePolicy {
    color:	#10102c;
    text-align: center;
    font-size: 0.9rem;
}

.imgDisplay {
    position: relative;
    width: 25vw;
}

.idPlayers {
    position: relative;
    bottom: 0;
}

.playersBtn {
    background-color: #FF6875;
    color: black;
    cursor: pointer;
    width: 20em;
    height: 1.4em;
    transition: background-color 0.4s;
}

.playersBtn:hover {
    background-color: #e51865;
}

.imgs {
    display: none;
    position: relative;
    margin: 0 auto;
    background-color: #bdc7d8;
    width: 30vw;
}

.idPlayers:hover .imgs {
    display: block;
}

.imgWin {
    width: 50vw;
    display: none;
    margin: 2em auto;
    opacity: 0.6;
}

.imgWin:hover {
    opacity: 1;
}

.footer {
    border-top: 0.1em solid #bdc7d8;
    margin: 0;
    position: relative;
}

/*Responsive*/
@media only screen and (max-width: 900px){
    .titleWrapper{
        height: 3em;
    }
    .titleWrapper h1 {
        font-size: 1.5em;
        margin: 0.2em auto;
    }
    .highScoreWrapper {
        right: 0;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 90vw;
        font-size: 0.9em;
        text-align: center;
    }
    .boxInput {
        width: 70vw;
        height: 5vh;
        padding: 0.4em;
    }
    #wrapperInstructions {
        width: 90vw;
    }
    .timeInstructions{
        margin: 2.5em auto 0.1em;
    }
    .imgs {
        width: 33vw;
    }
    .imgDisplay {
        width: 30vw;
    }
}
